<p id="notice"><%= notice %></p>
<div class="row">
  <div class="offset-md-3 col-md-5">
    <p>
      <%= image_tag @photo.image.url if @photo.image? %>
    </p>
    <p>
      <strong>クイズの問題:</strong>
      <%= @photo.content %>
    </p>
    
      <%= link_to "回答する", new_photo_answer_path(@photo) %>

      
      <%= render 'answers/answers', answer: @answers %>
      
     
      <%= paginate @answers %>
    </div>
</div>

<%= link_to '戻る', photos_path %> |
<%= link_to '編集', edit_photo_path(@photo) %> 
